In [1]:
# Import MySQL Connector/Python 
import mysql.connector as connector

connection=connector.connect(user="root",password="51125112")

In [2]:
cursor = connection.cursor()

In [3]:
cursor.execute("USE little_lemon_db")

In [4]:
#################################################
#                Task 1                         #
#################################################
print("First task:")

First task:

In [6]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database":"little_lemon_db",
    "user":"root",
    "password":"51125112"
}
try:
    pool = MySQLConnectionPool(pool_name = "ll_pool_a",
                               pool_size = 3,
                               **dbconfig)
    print("The conncetion pool is created with the name: ", pool.pool_name)
    print("The pool size is: ", pool.pool_size)
except Error as er:
    print("Error code: ", er.errno)

The conncetion pool is created with the name:  ll_pool_a
The pool size is:  3

In [7]:
#################################################
#                Task 2                         #
#################################################
print("Second task:")

Second task:

In [8]:
cursor.execute("DROP PROCEDURE IF EXISTS PeakHours;")


proc = """ CREATE PROCEDURE PeakHours()
BEGIN
SELECT HOUR(BookingSLot) AS Hour,
COUNT(HOUR(BookingSLot)) AS n_bookings
FROM Bookings
GROUP BY Hour
ORDER BY n_bookings DESC;
END
"""

cursor.execute(proc)
cursor.callproc("PeakHours")

results = next(cursor.stored_results())
dataset = results.fetchall()

for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description]

print(columns)

for data in dataset:
    print(data)

['Hour', 'n_bookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [9]:
#################################################
#                Task 3                         #
#################################################
print("Third task:")

Third task:

In [10]:
cursor.execute("DROP PROCEDURE IF EXISTS GuestStatus;")


proc = """ CREATE PROCEDURE GuestStatus()
BEGIN
SELECT CONCAT(Bookings.GuestFirstName,'', Bookings.GuestLastName) AS GuestName,
CASE
WHEN Employees.Role = "Manager" OR Employees.Role = "Assistant Manager" THEN "Ready to Pay"
WHEN Employees.Role = "Head Chef" THEN "Ready to Serve"
WHEN Employees.Role = "Assistant Chef" THEN "Preparing Order"
WHEN Employees.Role = "Head Waiter" THEN "Order Served"
ELSE "Unknown status"
END AS OrderStatus
FROM Bookings 
LEFT JOIN Employees
ON Bookings.EmployeeID = Employees.EmployeeID;
END
"""

cursor.execute(proc)
cursor.callproc("GuestStatus")

results = next(cursor.stored_results())
dataset = results.fetchall()

for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description]

print(columns)

for data in dataset:
    print(data)

['GuestName', 'OrderStatus']
('AnnaIversen', 'Ready to Pay')
('JoakimIversen', 'Ready to Pay')
('VanessaMcCarthy', 'Ready to Serve')
('MarcosRomero', 'Preparing Order')
('HirokiYamane', 'Ready to Pay')
('DianaPinto', 'Order Served')

In [11]:
#Closing the Connection 

if connection.is_connected():
    cursor.close()
    print("Cursor is Closed")
    connection.close()
    print("Connection is Closed")
else:
    print("Connection is already closed")

Cursor is Closed
Connection is Closed